 h4{
        text-align: center;
        background-color: #e7dada;
    }
    #id{
        color: #78A3D4;
    }
    #Hi{
        color: #0077ff;
    }
    .X{
        text-decoration: underline;
        font-family: 'Courier New', Courier, monospace;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #78A3D4;
        border-radius: 20%;
        box-shadow: 0 0 10px #78A3D4;
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: rebeccapurple;
    }
    a:hover{
        font-size: 24px;
        color: blue;
        background-color: azure;
    }